<%- include ('parcial/header.ejs') ;%>

        <header>
                <nav class="menuPrincipal">
                </nav>
        </header>

        <div id='corpo'>

                <%= titulo %>

        </div>

        <%- include ('parcial/footer.ejs') ;%>